#cardholderName {
	margin-right: 20px;
	width: 244px;
	position: relative;
	height: 2em;
	border: 1px solid #ddd;
	padding: 0 0.5em;
	background-color: white;
}

#number {
	margin-right: 20px;
	width: 244px;
	position: relative;
	height: 2em;
	border: 1px solid #ddd;
	padding: 0 0.5em;
	background-color: white;
}

#cvv {
	margin-right: 20px;
	width: 244px;
	position: relative;
	height: 2em;
	border: 1px solid #ddd;
	padding: 0 0.5em;
	background-color: white;
}

#expiration-date {
	margin-right: 20px;
	width: 244px;
	position: relative;
	height: 2em;
	border: 1px solid #ddd;
	padding: 0 0.5em;
	background-color: white;
}

.paypalselection, .paypalurl, .customSingleUseCheckbox  {
	margin-top: 16px;
}

.paypalselection, .paypalimage .applepayimage .cmsimage, .paypalurl { float: left; }

.paypalselection {
	margin-right: 7px;
}

#number.braintree-hosted-fields-invalid {
	border: 1px solid #FFB6C1;
}

#cvv.braintree-hosted-fields-invalid {
	border: 1px solid #FFB6C1;
}

#expiration-date.braintree-hosted-fields-invalid {
	border: 1px solid #FFB6C1;
}

.disableClick {
	pointer-events: none;
}

.buttonCustom {
	width: 100%;
	margin-top: 0px !important;
}

li.paymentMethodLeft {
	float: left;
}

li.paymentMethodRight {
	float: right;
	margin-left: 10px;
}

#standardCheckout {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 92px;
	height: 40px;
	vertical-align: top;
}

.buttonMini {
margin: 0 0 0 0 !important;
float: right !important;
}

#paymentMethodPayPal {
 margin: 15px 5px 0 0 !important;
}

#paymentMethodBT {
 margin: 15px 5px 0 0 !important;
}

.paymentEntry {
 width: 385px !important;
}

#cardForn{
 float: inherit !important;
}

.bt_center {
	text-align: center;
}
.action-links-bt {
    background: transparent;
    border:none;
}

.footer__right {
	padding-bottom: 30px;
}

.footer__top .row img {
	padding-left: 30px;
}

footer {
	margin-top: 60px;
}

.paypal_button_container {
	display: inline-block;
	padding: 5px;
}

.paypal_credit_button_container {
	display: inline-block;
}

.apple-pay-button-container {
    display: inline-block;
    padding-right: 27px;
}

.apple-pay-button {
    height: 38px;
    margin: 15px;
    margin-left: 40px;
}

.disabled-button {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#paymentMethodApplePay {
 margin: 15px 5px 0 0 !important;
}

.apple-pay-image {
    height: 38px;
    margin: 5px;
}

.mini-cart .mini-cart-body img {
    width: 115px;
}
