.alert {
    margin-bottom: 0;

    &.alert-info {
        border-radius: 0;
        color: $black;
        background-color: rgba(255, 132, 0, 0.7);
        border-color: rgba(255, 132, 0, 0.7);

        button {
            &.close {
                opacity: 1;
                color: $gray-9;
            }
        }
    }
}