.flexslider {
  margin: 0;
  border: none;

  .flex-direction-nav a.flex-prev,
  .flex-direction-nav a.flex-next {
    display: block;
    opacity: 1;
  }
  .flex-direction-nav a.flex-prev {
    left: 10px;
  }
  .flex-direction-nav a.flex-next {
    right: 10px;
  }

  .flex-direction-nav {
    a {
      top: inherit;
      bottom: 20px;
      width: 48px;
      height: 48px;
      border-radius: 6px;
      background-color: rgba(35, 30, 31, 0.6);
      text-indent: -99999px;
      font-size: 0;
      margin: 0;

      &:after,
      &:before {
        content: "";
      }

      &.flex-prev {
        background: rgba(35, 30, 31, 0.6) url("../images/svg/arrow-left-slider.svg") center center no-repeat;
        width: 24px;
        height: 24px;
        padding: 20px;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &.flex-next {
        background: rgba(35, 30, 31, 0.6) url("../images/svg/arrow-right-slider.svg") center center no-repeat;
        width: 24px;
        height: 24px;
        padding: 20px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  &.video-carousel {
    .play-icon {
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      svg {
        width: 60px;
        height: 60px;
        fill: $white;
      }
    }

    ul {
      li {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          z-index: 10;
          background: #fff url("../../common/images/play-circle.svg");
          width: 40px;
          height: 40px;
          background-size: 100%;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          border: 1px solid $white;
          border-radius: 40px;
          opacity: 0.4;
        }
      }
    }
  }

  &.slider-big-image {
    max-width: 500px;
    margin: 0 auto;
    position: relative;

    .product-status {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      svg,
      img {
        width: 80px;
        height: 80px;
      }
    }

    &.with-video {
      margin-top: 0;
      max-width: 600px;
    }

    &.award-slider {
      max-width: 600px;

      margin: 0 auto;
      position: relative;

      .slides {
        img {
          max-width: 600px;
          margin: 0 auto;
          max-height: 400px;
          width: auto;
        }
      }
    }
  }

  &.flex-carousel {
    max-width: 535px;
    margin: auto;

    .slides {
      img {
        &.carousel-thumb-image {
          width: 167px;
          height: 120px;
          border-radius: 8px;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
          margin: 16px 4px;
          border: 2px solid $white;
          opacity: 0.9;
        }
      }

      .flex-active-slide {
		width:400px;
        img {
          border-color: $primary-color;
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .flexslider {
    &.flex-carousel {
      display: none;
    }
  }
}
