textarea#deliveryInstructions 
{
height:auto !important;
width:100% !important ;
float:none!important;
}

@media (max-width: 1023px) {
    .account-confirm-cancel-order .cancel-order__list .item__quantity .item__status--wrapper {
        float: right !important;
    }
}

.item__list .item__status--column {
  text-align: right;
}

.item__list .item__status {
  font-size: 15px;
//  font-weight: 700;
  text-align: right;
  padding-left: 0;
}

@media (min-width: 1024px) {
  .item__list .item__list--item .item__status {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
  }
}

@media (max-width: 1023px) {
  .item__list .item__status {
    float: right;
  }
}

.account-section .account-section-content .item__list--item .item__status {
  padding-right: 30px;
}

@media (min-width: 1024px) {
  .account-orderdetail .item__list .item__list--item .item__status {
    padding-right: 30px;
  }
}

#quickOrder .item__list--header .item__status--column {
  text-align: left;
}
@media (min-width: 1024px) {
  #quickOrder .item__list--item .item__status {
    text-align: left;
    padding-left: 10px;
  }
}

@media (max-width: 1023px) {
  #quickOrder .item__list--item .item__status {
    float: left;
  }
}
.item__list .item__total {
	text-align: center;
}
.item__list .item__total--column {
	text-align: center;
}