.footer-out {
  background: $white;
  border-top: 1px solid $gray-3;

  .footer-top-section {
    padding: 65px 0;
  }

  .footer-logo-col {
    margin-bottom: 30px;
  }

  .footer-links-out {
    font-size: $font-size-16px;
    color: $black;

    .footer-links-title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 0 5px 0;
        a {
          display: inline-block;
          color: $black;
          text-decoration: none;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }

  .gallagher-logo {
    svg,
    img {
      width: 170px;
      height: 46px;
    }

    .banner__component {
      &.simple-banner {
        svg,
        img {
          width: 170px;
          height: 46px;
        }
      }
    }
  }

  .footer-bottom-section {
    background: $footer-bottom-bg-color;
    padding: 0;
    color: $gray-6;
    text-align: left;

    .container {
      padding: 0;
    }

    .svg-icon {
      height: 24px;
      width: 24px;
      vertical-align: middle;
    }

    .footer-bottom-middle-section {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin-right: 15px;
          background: #3b3634;
          height: 100%;

          a {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: $white;
            line-height: 51px;
            padding-bottom: 0;
            padding-left: 15px;
            background: #3b3634;
            font-size: 14px;

            &:hover {
              color: #837974;
            }
          }
        }
      }
    }

    .copyright {
      text-align: right;
      text-transform: uppercase;
      padding: 1rem 0;
      color: #848383;
      padding: 16px 30px 15px 10px;
      margin-right: 0;
    }

    .division-dropdown,
    .country-dropdown {
      &.open {
        .down-arrow-icon {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }

      .btn {
        background: #322e2c;
        display: block;
        min-height: 49px;
        width: 100%;
        border: none;
        line-height: 32px;
        font-weight: 500;

        &:hover,
        &:focus,
        &:active {
          border: none;
          color: $primary-color;
        }

        .down-arrow-icon {
          position: relative;
          width: 30px;
          display: inline-block;
          vertical-align: middle;
          height: 28px;
          transition: all ease-in-out 0.3s;

          svg {
            width: 30px;
            height: 30px;
            fill: $primary-color;
            position: absolute;
            right: 0;
            top: -3px;
          }
        }
      }

      .dropdown-menu {
        width: 100%;
        box-shadow: none;
        background: #464646;
        border-radius: 0;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
          display: block;
          margin: 0;
          a {
            border-top: 1px solid #504e4e;
            color: $white;
            padding: 15px 5px;
            text-transform: uppercase;
            display: block;
            line-height: 1.42857;
            background-color: #464646;

            &:hover,
            &:focus {
              color: #837974;
              background-color: #464646;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1599px) {
  .footer-out {
    .footer-bottom-section {
      .footer-bottom-middle-section {
        ul {
          li {
            margin-right: 5px;
            a {
              padding-left: 5px;
            }
          }
        }

        .copyright {
          padding: 16px 18px 15px 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .footer-middle-section-inner {
    display: flex;

    .left-social-links-col {
      margin-right: auto;
    }

    .copyright-col {
    }

    .country-col {
      min-width: 200px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer-out {
    .footer-bottom-section {
      .footer-bottom-left-section,
      .footer-bottom-middle-section {
        width: 100%;
        display: block;

        .left-social-links-col,
        .copyright-col .copyright {
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-out {
    .footer-top-section {
      .support-col {
        clear: both;
        margin-top: 10px;
      }
    }

    .footer-bottom-section {
      .footer-bottom-middle-section {
        ul {
          text-align: center;
        }
      }
      .copyright {
        text-align: center;
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer-out {
    .footer-top-section {
      .support-col {
        clear: both;
        margin-top: 10px;
      }
    }

    .footer-bottom-section {
      .footer-bottom-middle-section {
        ul {
          text-align: center;
        }
      }
      .copyright {
        text-align: center;
        margin: 0;
      }
    }
  }
}
