.main-nav-out {
  margin-top: 0;
  margin-left: 30px;
  text-align: right;

  &.with-logged-in-user {
    .btn {
      background: linear-gradient(to bottom, $button-highlight-top-color 0%, $button-highlight-bottom-color 100%);

      .user-icon {
        min-width: 10px;
        display: block;
        svg {
          width: 24px;
          height: 24px;
          fill: $gray-9;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }

      &:hover {
        color: $white;

        svg {
          fill: $white;
        }
      }
    }

    .btn-group {
      &.show {
        .right-btn {
          background: linear-gradient(
            to bottom,
            $button-highlight-color-logged-in-user 0%,
            $button-highlight-color-logged-in-user 100%
          );
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
      padding: 0;
      position: relative;
      flex: auto;

      a {
        display: block;
        padding: 31px 24px;
        color: $white;
        text-decoration: none;
        box-sizing: border-box;
        transition: all ease-in-out 0.3s;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $font-size-18px;

        .arrow-down-icon {
          display: none;
          position: absolute;
          bottom: 3px;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;

          svg {
            width: 24px;
            height: 24px;
            fill: $gray-9;
          }
        }

        &:hover {
          color: $gray-9;
        }
      }

      &.with-dropdown {
        a {
          &:hover {
            .arrow-down-icon {
              display: block;
            }
          }
        }

        &.active {
          a {
            color: $gray-9;
            .arrow-down-icon {
              display: block;
              -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
              svg {
                fill: $gray-9;
              }
            }
          }
        }
      }
    }
  }
}

.second-level-menu {
  position: absolute;
  width: 100%;
  left: 0;
  background: $white;
  letter-spacing: 0.1px;
  z-index: 999;
  border: 2px solid $primary-color;

  .second-level-nav {
    font-size: $font-size-18px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        a {
          padding: 20px;
          color: $primary-color;
          text-decoration: none;
          display: block;
        }
      }
    }
  }

  // .contact-us-container,
  // .support-container {
  //   padding: 20px;

  //   .call-us-contact-number {
  //     font-size: 1.428571em;
  //     color: $primary-color;
  //     line-height: 24px;
  //     margin: 8px 0;
  //   }

  //   .contact-us-description {
  //     font-size: 1em;
  //     line-height: 17px;
  //     color: $gray-5;
  //   }
  // }

  // .menu-container-title {
  //   color: $white;
  //   margin-bottom: 24px;
  //   display: inline-block;
  //   position: relative;

  //   .arrow-right-icon {
  //     position: absolute;
  //     right: -20px;
  //     top: -1px;
  //     svg {
  //       fill: $white;
  //       width: 20px;
  //       height: 20px;
  //     }
  //   }

  //   &:hover {
  //     color: $primary-color;
  //     svg {
  //       fill: $primary-color;
  //     }
  //   }

  //   a {
  //     color: $white;
  //     text-decoration: none;

  //     &:hover {
  //       color: $primary-color;

  //       svg {
  //         fill: $primary-color;
  //       }
  //     }
  //   }

  //   &.less-margin {
  //     margin-bottom: 8px;
  //   }
  // }

  .third-level-menu {
    .left-menu-container {
      background-color: $black;
      padding-left: 0;
      padding-right: 0;

      .left-menu-inner {
        margin-bottom: 16px;
      }

      .nav-tabs {
        border: none;
        padding: 0 4px;

        .nav-link {
          border: none;
          border-radius: 0;
          padding: 0;
          position: relative;
          display: block;
          padding: 16px 20px 16px 8px;
          color: $white;
          font-size: 1em;
          text-decoration: none;
          text-transform: inherit;
          transition: all ease-in-out 0.2s;
          border-left: 4px transparent;

          .arrow-right-icon {
            svg {
              position: absolute;
              width: 24px;
              height: 24px;
              fill: $gray-5;
              right: 5px;
              top: 0;
              bottom: 0;
              margin: auto;
            }
          }

          &:hover {
            color: $primary-color;
            background: transparent;

            svg {
              fill: $primary-color;
            }
          }

          &.active {
            color: $primary-color;
            border-left: 4px solid $primary-color;
            font-weight: bold;
            background-color: transparent;

            .arrow-right-icon {
              svg {
                fill: $primary-color;
              }
            }
          }

          &.gray-link {
            color: $gray-5;
            padding: 16px 8px;
            text-decoration: none;
            display: block;

            &:hover {
              color: $primary-color;
            }

            &.active {
              color: inherit;
              border-left: none;
              font-family: inherit;
              background-color: transparent;
              color: $gray-5;
            }
          }
        }

        .nav-item {
          margin: 0;
          display: block;
          width: 100%;
        }
      }
    }
    .right-menu-container {
      padding: 20px;

      .container-col-links {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            a {
              color: $white;
              text-decoration: none;
              padding: 8px 0;
              display: block;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}

.contact-us-container-xs,
.support-container-xs {
  .call-us-contact-number {
    font-size: 1.428571em;
    color: $primary-color;
    line-height: 24px;
    margin: 8px 0;
  }

  .contact-us-description {
    font-size: 1em;
    line-height: 17px;
    color: $gray-5;
  }
}

.menu-container-title {
  color: $white;
  margin-bottom: 24px;
  display: inline-block;
  position: relative;

  .arrow-right-icon {
    position: absolute;
    right: -20px;
    top: -1px;
    svg {
      fill: $white;
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
    color: $primary-color;
    svg {
      fill: $primary-color;
    }
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $primary-color;

      svg {
        fill: $primary-color;
      }
    }
  }

  &.less-margin {
    margin-bottom: 8px;
  }
}

.container-col-title {
  font-size: 0.85714em;
  color: $gray-5;
  margin-bottom: 8px;
}

.responsive-mega-menu-modal {
  .modal-dialog {
    margin: 0;
    max-width: 300px;
    float: right;
    width: 100%;
    max-height: 100%;
    background: $gray-9;

    &.modal-dialog-scrollable {
      .modal-content {
        height: 100vh;
        max-height: 100vh;
      }
    }
    .modal-content {
      border-radius: 0;
      border: none;
      background: $gray-9;
      color: $gray-4;
      height: 100vh;
      max-height: 100vh;

      .menu-listing {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            a {
              display: block;
              color: $gray-4;
              display: block;
              position: relative;
              padding: 16px 16px 16px 0;
              text-decoration: none;
              .right-arrow-icon {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 25px;

                svg {
                  fill: $gray-4;
                  width: 22px;
                  height: 22px;
                }
              }

              &:hover,
              &:focus {
                color: $primary-color;

                .right-arrow-icon {
                  svg {
                    fill: $primary-color;
                  }
                }
              }
            }
          }
        }

        &.xs-main-menu-l3-links {
          ul {
            li {
              a {
                padding: 8px 16px 8px 0;
              }
            }
          }
        }
      }

      .modal-header {
        border-bottom: none;
        padding-bottom: 12px;
        font-size: 0.857142em;
        border-bottom: 1px solid $gray-7;

        .left-title-out {
          a {
            color: $gray-4;
            text-decoration: none;
            padding-left: 24px;
            position: relative;

            svg {
              fill: $gray-4;
              width: 22px;
              height: 22px;
              position: absolute;
              left: -6px;
              top: -2px;
            }

            &:hover,
            &:focus {
              color: $primary-color;

              svg {
                fill: $primary-color;
              }
            }
          }
        }

        button {
          &.close {
            color: $primary-color;
            opacity: 1;
            font-size: 1em;
            text-shadow: none;

            .cross-icon {
              font-size: 1.7em;
              vertical-align: middle;
              display: inline-block;
              padding-left: 4px;
            }
          }
        }
      }

      .modal-footer {
        border: none;
        padding: 0;
        border-top: 1px solid $gray-7;

        .left-btn {
          margin-right: 2px;
        }

        .xs-main-menu-l1-footer {
          width: 100%;
          padding: 8px 16px;
          margin: 16px 0 0 0;
          .user-profile-btn-group,
          .my-app-btn-group {
            width: 50%;

            &.show {
              .user-profile-btn {
                background: linear-gradient(
                  to bottom,
                  $button-highlight-color-logged-in-user 0%,
                  $button-highlight-color-logged-in-user 100%
                );

                &:hover {
                  svg {
                    fill: $gray-9;
                  }
                }
              }
            }
          }

          .user-profile-dropdown,
          .my-app-dropdown {
            min-width: 175px;
            max-width: 175px;
            border-radius: 0;
            box-shadow: none;
            background-color: $black;
            color: $white;
          }

          .user-profile-dropdown-inner,
          .my-app-dropdown-inner {
            padding: 8px 16px 0 16px;
            color: $gray-3;
            letter-spacing: 0.25px;

            ul {
              list-style: none;
              margin: 0;
              padding: 0;

              li {
                padding: 0;
                margin: 0;

                a {
                  display: block;
                  color: $white;
                  padding: 8px 0;
                  text-decoration: none;
                  font-size: $font-size-11px;

                  &:hover {
                    color: $primary-color;
                  }
                }

                .user-name {
                  font-weight: bold;
                  padding-bottom: 8px;
                  font-size: $font-size-13px;
                }
              }
            }
          }
        }

        .xs-main-menu-l2-footer {
          width: 100%;
          height: 140px;
          padding: 0;
          margin: 0;
          text-align: center;
          position: relative;

          .menu-l2-footer-container {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
          }
          .promotion-title {
            color: $white;
            font-size: 1.42857em;
            line-height: 24px;
            margin-bottom: 8px;
          }

          .promotion-link {
            a {
              color: $primary-color;
              text-decoration: none;
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1599px) {
  .second-level-menu {
    left: 0;
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .responsive-mega-menu-modal {
    .modal-dialog {
      margin: 0;
      max-width: 100%;
      float: none;
    }
  }
}
