.main-nav-out {
  margin-top: 0;
  margin-left: 30px;
  text-align: right;
 position: relative;

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
      padding: 0;
     
      flex: auto;
		
		a.selected {
            color: $gray-9;
      }
      
      a {
        display: block;
        padding: 31px 29px;
        color: $white;
        text-decoration: none;
        box-sizing: border-box;
        transition: all ease-in-out 0.3s;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;

        .arrow-down-icon {
          display: none;
          position: absolute;
          bottom: 3px;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;

          svg {
            width: 24px;
            height: 24px;
            fill: $gray-9;
          }
        }
      }

      &.with-dropdown {
        a {
          &:hover {
            .arrow-down-icon {
              display: block;
            }
          }
        }

        &.active {
          a {
            color: $gray-9;
            .arrow-down-icon {
              display: block;
              -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
              svg {
                fill: $gray-9;
              }
            }
          }
        }
      }
    }
  }
}

.second-level-menu {
  position: absolute;
  width: 100%;
  left: 40px;
  background: $white;
  letter-spacing: 0.1px;
  z-index: 999;
  /*border: 2px solid $primary-color;*/
  border-left: none;
  border-right: none;
  
  ul{
  	  list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .second-level-nav {
    font-size: $font-size-18px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        position: relative;
        a {
          padding: 20px;
          color: $primary-color;
          text-decoration: none;
          display: block;

          &:hover {
            color: $gray-9;
          }

          &.active {
            background-color: $dropdown-bg-color;
            color: $white;
          }
        }

        .dropdown-menu-out {
          position: absolute;
          background: $dropdown-bg-color;
          min-width: 230px;
          ul {
            display: block;
            padding: 5px 0 10px 0;
            li {
              a {
                display: block;
                padding: 8px 20px;
                color: $white;
                line-height: 18px;

                &:hover {
                  color: $gray-9;
                }
              }
            }
          }
        }
      }
    }
  }
}

.menu-container-title {
  color: $white;
  margin-bottom: 24px;
  display: inline-block;
  position: relative;

  .arrow-right-icon {
    position: absolute;
    right: -20px;
    top: -1px;
    svg {
      fill: $white;
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
    color: $primary-color;
    svg {
      fill: $primary-color;
    }
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $primary-color;

      svg {
        fill: $primary-color;
      }
    }
  }

  &.less-margin {
    margin-bottom: 8px;
  }
}

.container-col-title {
  font-size: 0.85714em;
  color: $gray-5;
  margin-bottom: 8px;
}

.responsive-mega-menu-modal {
  .modal-dialog {
    margin: 0;
    float: right;
    width: 100%;
    max-height: 100%;
    background: $dropdown-bg-color;

    &.modal-dialog-scrollable {
      .modal-content {
        height: 100vh;
        max-height: 100vh;
        overflow-y: auto;
        padding-bottom: 85px;
      }
    }
    .modal-content {
      border-radius: 0;
      border: none;
      background: $dropdown-bg-color;
      color: $white;
      height: 100vh;
      max-height: 100vh;
      font-size: $font-size-16px;

      &.xs-main-menu-l1 {
        .modal-body {
          padding-top: 0;
        }
      }

      .menu-listing {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            border-bottom: 1px solid $white;
            position: relative;
            a {
              display: block;
              color: $white;
              display: block;
              position: relative;
              padding: 26px 76px 26px 0;
              text-decoration: none;
              text-transform: uppercase;
              .right-arrow-icon {
                svg {
                  fill: $white;
                  width: 30px;
                  height: 30px;
                }
              }

              &.with-sublevel {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 100;
                background: rgba(255, 255, 255, 0.02);
                padding: 20px 24px;

                &:hover {
                  opacity: 0.75;
                }

                &.with-sublevel-text {
                  position: relative;
                  background-color: transparent;
                  padding: 26px 40px 26px 0;

                  .right-arrow-icon {
                    position: absolute;
                    right: 15px;
                    top: 21px;
                  }
                }
              }

              &:hover,
              &:focus {
                color: $white;
                opacity: 0.85;

                .right-arrow-icon {
                  svg {
                    fill: $white;
                  }
                }
              }
            }
          }
        }

        &.xs-main-menu-l3-links {
          ul {
            li {
              a {
                padding: 8px 16px 8px 0;
              }
            }
          }
        }
      }

      .modal-header {
        border-bottom: none;
        padding-bottom: 12px;
        font-size: $font-size-16px;
        border-bottom: 1px solid $white;

        .left-title-out {
          a {
            color: $white;
            text-decoration: none;
            padding-left: 24px;
            position: relative;
            text-transform: uppercase;

            svg {
              fill: $white;
              width: 22px;
              height: 22px;
              position: absolute;
              left: -6px;
              top: -2px;
            }

            &:hover,
            &:focus {
              color: rgba(255, 255, 255, 0.85);

              svg {
                fill: $white;
                opacity: 0.85;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1599px) {
  .second-level-menu {
    left: 0;
    width: 100%;
    max-width: 100%;
  }

  .main-nav-out {
    > ul {
      li {
        .search-out,
        .cart-out {
          min-width: 40px;
          a {
            padding: 29px 22px;
          }
        }
        a {
          padding: 29px 15px;
          
        
			}
        a.selected {
            color: $gray-9;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .responsive-mega-menu-modal {
    .modal-dialog {
      margin: 0;
      max-width: 100%;
      float: none;
    }
  }
}
