.footer-out {
  background: $gray-9;

  .footer-top-section {
    padding: 32px 0;
  }

  .footer-logo-col {
    margin-bottom: 30px;
  }

  .footer-links-out {
    a {
      display: block;
      color: $white;
      text-decoration: none;
      padding-bottom: 16px;
      &:hover {
        color: $primary-color;
      }
    }
  }

  .gallagher-logo {
    svg,
    img {
      width: 170px;
      height: 46px;
    }

    .banner__component {
      &.simple-banner {
        svg,
        img {
          width: 170px;
          height: 46px;
        }
      }
    }
  }

  .footer-bottom-section {
    background: $black;
    padding: 16px 0;
    color: $gray-6;
    text-align: left;

    .other-division,
    .country-select {
      display: inline-block;

      .dropdown-menu {
        color: $gray-9;
        font-size: 1em;

        a {
          color: $gray-9;
          padding: 5px 15px;
          margin: 0;

          &:hover {
            background-color: transparent;
            color: $primary-color;
          }
        }
      }

      &.dropup {
        .dropdown-toggle {
          &::after,
          &::before {
            display: none;
          }
        }
      }
    }

    a {
      display: inline-block;
      color: $white;
      margin-right: 10px;
      padding-right: 5px;
      text-decoration: none;

      &:hover {
        color: $primary-color;

        svg {
          fill: $primary-color;
        }
      }
    }

    .footer-text-right {
      text-align: right;
    }

    .down-arrow-icon {
      display: inline-block;

      svg {
        width: 18px;
        height: 18px;
        fill: $white;
        vertical-align: bottom;
      }
    }
  }
}

.social-icons {
  a {
    text-decoration: none;
    display: inline-block;
    padding: 2px;

    svg,
    img {
      width: 32px;
      height: 32px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer-out {
    text-align: center;
    .social-icons {
      margin-top: 16px;
    }

    .footer-bottom-section {
        .other-division,
        .country-select {
          display: block;
        }
      .footer-text-right {
        text-align: left;
      }

      .footer-text-order {
        order: -1;
        margin-bottom: 10px;
      }
    }
  }
}
