.checkout-headline,
.checkout-summary-headline,
.checkout-order-summary .subtotals .totals {
  font-weight: bold;
  color: $gray-9;
}

.checkout-headline span {
  color: $primary-color;
}

.checkout-headline,
.checkout-steps {
  padding-left: 0;
}

.checkout-summary-headline,
.checkout-order-summary {
  padding-right: 0;
}

.checkout-help {
  border-color: $gray-3;
  margin-bottom: 16px;
}

.checkout-steps .step-head {
  color: inherit;
}

.checkout-shipping,
.checkout-steps .step-head,
.checkout-paymentmethod {
  border-color: $gray-3;
}

.checkout-shipping,
.checkout-paymentmethod {
  border-color: $white;
}

.step-body {
	border: 1px solid $gray-3;
	margin-bottom: 25px;
}

.checkout-steps .step-body .checkout-next {
	margin: 15px 20px;
	width: calc(100% - 40px);
}

.checkout-steps .step-head.active {
  border-color: $gray-3;
  background-color: $gray-3;
  color: $gray-9;
  text-decoration: none;
}

.checkout-steps .step-head .edit {
  color: $primary-color;
}

.guest-checkout-container {
  max-width: 400px;
  width: 100%;
  margin: 30px auto;

  a {
    text-decoration: none;
    padding-left: 24px;
    position: relative;
  }

  .arrow-left-icon {
    position: absolute;
    top: -2px;
    left: 0;

    svg {
      width: 20px;
      height: 20px;
      fill: $terciary;
      vertical-align: middle;
    }
  }
}

label {
  &.control-label {
    color: $gray-7;
  }
}

.payment-steps-body {
//	 border: 1px solid #e6e7e8;
//    border-bottom: none;
}

.hosted-iframe {
	width: 100% !important;
    margin: 0 10px;
    box-sizing: border-box;
    height: 495px !important;
}

.payment-content {
	.billing-info {
		iframe {
			width: 100% !important;
		}
	}
}

.error-details-section{
	word-wrap: break-word;
}

.place-order-form {
	.checkbox {
		label {
			position: relative;
			.checkbox-container {
				position: absolute;
				left: 0;
				top: 3px;
			}
			
			.checkbox-right-text {
				display: block;
				padding-left: 35px;
				line-height: normal;
			}
		}
	}
}
.error-message{
	color:$danger;
	font-style: italic;
	font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .checkout-steps {
    padding-right: 0;
  }

  .checkout-summary-headline, .checkout-order-summary {
      margin-left: 0;
      margin-right: 0;
  }

  .checkout-order-summary {
      border: 1px solid $gray-3;
  }

  .checkout-help {
      margin-left: 0;
      margin-right: 0;
  }
  #cboxLoadedContent {
    padding: 20px 20px 20px 20px;
    margin-top: 74px;
}
}
