#cboxTitle {
	padding: 20px 20px 15px;
}
#cboxTitle .headline {
	font-size: 1.25rem;
}

#cboxClose {
	right: 5px;
    top: -5px;
}
#cboxClose .glyphicon {
	font-famly: inherit;	
}

#cboxClose .glyphicon-remove::before{
	content: '';
	display: none;
}

#cboxClose .glyphicon-remove::after{
	content: '\00d7';
	font-size: 24px;
	font-weight: bold;
}

#cboxLoadedContent {
	padding: 0 20px 20px 20px;
	margin-top: 64px;

}

body.page-registerProduct {
	#colorbox,
	#cboxWrapper {
		height: 325px!important;
	}
	
	#cboxContent,
	#cboxLoadedContent {
		height: 320px!important;
	}
}

@media only screen and (max-width: 767px) {
  body.page-registerProduct {
	#colorbox,
	#cboxWrapper {
		height: 375px!important;
	}
	
	#cboxContent,
	#cboxLoadedContent {
		height: 370px!important;
	}
}
}
@media screen and (max-width: 639px) {
    #cboxLoadedContent .addressEntry ul {
        margin-top: 0!important;
    }
}
