.find-dealer-out {
  .container {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }

  .gray-shade,
  .primary-shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.83);
    height: 495px;
  }

  .primary-shade {
    background: rgba(255, 132, 0, 0.85);
  }

  .find-dealer-img {
    width: 100%;
    height: 495px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }

  .find-dealer-out-middle {
    position: absolute;
    width: calc(100% - 30px);
    text-align: center;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    padding: 0 16px;

    .find-dealer-title {
      color: $white;
      line-height: 36px;
      font-size: 2.285714em;
      margin-bottom: 20px;
    }

    .find-dealer-search-out {
      max-width: 270px;
      width: 100%;
      margin: 0 auto;
      position: relative;

      .input-dealer-search {
        border-radius: 6px;
        background-color: $gray-5;
        border-color: $gray-5;
        color: $gray-9;
        height: 40px;
        padding-right: 90px;

        &::placeholder {
          color: $gray-9;
        }
      }

      .btn-dealer-search {
        position: absolute;
        right: 0;
        top: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 10px 16px;
      }
    }

    .expert-advice-title {
      font-size: 1.42857em;
      line-height: 20px;
      margin-bottom: 16px;
    }

    .expert-advice-number {
      font-size: 2.28571em;
      line-height: 36px;
      margin-bottom: 24px;
    }

    .expert-advice-common-text {
      font-size: 16px;
      line-height: 20px;
a {
    color: #ffffff;
    text-decoration: none;
}
    }
  }
}

.col-padding-r0 {
  padding-right: 0;
}

.col-padding-l0 {
  padding-left: 0;
}

.col-padding-0 {
  padding-left: 0;
  padding-right: 0;
}

.live-stock-out {
  padding: 48px 0;
  background: $gray-2;

  a {
    font-size: 0.857142em;
    line-height: 16px;
  }

  .article-inner-col {
    max-width: 400px;
    width: 100%;
    margin-top: 24px;

    .article-heading {
      font-size: 1.428571em;
      line-height: 24px;
    }

    .article-description {
      font-size: 1em;
      line-height: 1.43;
      letter-spacing: 0.2px;
      margin: 8px 0 16px 0;
      font-family: $font-family-description;
    }
  }

  .case-study-inner {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;

    .case-study-title {
      font-size: 1.142857em;
      margin: 16px 0 8px 0;
      line-height: 20px;
    }
  }
}

.where-to-start-out {
  .where-to-start-inner {
    margin: 64px 0;
    text-align: center;

    .section-small-title,
    .section-small-title-dark {
      font-size: 1em;
      color: $gray-7;
      line-height: 20px;
    }

    .section-small-title-dark {
      color: $gray-9;
      font-size: 1.1428571em;
    }

    .find-solution-section {
      margin-bottom: 40px;
    }

    .section-small-title-description {
      margin: 8px 0;
      font-family: $font-family-description;
      font-size: 0.9285714em;
      letter-spacing: 0.1px;
      line-height: 20px;
    }

    a {
      font-size: 0.9285714em;
    }

    h1 {
      &.section-big-title {
        margin: 0 0 40px 0;
        padding: 0;
        color: $gray-9;
        font-size: 2.285714em;
        line-height: 36px;
      }
    }
  }

  .solution-help {
    min-height: 588px;

    .gray-shade {
      position: absolute;
      width: calc(100% - 30px);
      height: 100%;
      background: rgba(0, 0, 0, 0.83);
      height: 588px;
    }

    .solution-help-img {
      width: 100%;
      height: 588px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }

    .solution-help-out-middle {
      position: absolute;
      width: calc(100% - 30px);
      text-align: center;
      margin: auto;
      top: 50%;
      transform: translateY(-50%);
      color: $white;
      padding: 0 16px;

      .solution-help-out-inner {
        max-width: 250px;
        width: 100%;
        margin: 0 auto;
      }

      .solution-help-title {
        font-size: 1.428571em;
        line-height: 24px;
        color: $solution-gray-color;
        margin-bottom: 35px;
      }
    }
  }
}

.product-header {
  margin-bottom: 16px;

  h1 {
    &.product-title {
      margin: 0;
      padding: 0;
      font-size: 1.428571em;
      line-height: 24px;
    }
  }

  a {
    font-size: 1em;
    line-height: 18px;
  }
}

.new-products-promotions-out {
  background-color: $gray-2;
  padding: 40px 0;
  .new-products-out {
    .new-products-container {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
        }
      }
    }
  }

  .promotions-out {
    .promotions-container {
      a {
        width: 100%;
        height: 128px;
        overflow: hidden;
        display: block;
        text-align: right;
        text-decoration: none;
        color: $white;
        position: relative;

        .promotion-label-out {
          position: absolute;
          width: calc(100% - 105px);
          top: 50%;
          transform: translateY(-50%);
          right: 15px;

          .big-text {
            font-size: 2.285714em;
            line-height: 36px;
            display: block;
            font-family: $font-family-heavy;
          }

          .small-text {
            font-size: 1.142857em;
            line-height: 20px;
            display: block;
          }
        }

        &:hover,
        &:active,
        &:visite {
          color: $white;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .col-padding-r0 {
    padding-right: 15px;
  }

  .col-padding-l0 {
    padding-left: 15px;
  }

  .find-dealer-out {
    .gray-shade,
    .primary-shade {
      width: 100%;
    }

    .find-dealer-out-middle {
      .find-dealer-title {
        line-height: 28px;
        font-size: 1.714285em;
      }

      .expert-advice-number {
        font-size: 1.714285em;
        line-height: 28px;
        margin-bottom: 24px;
      }

      .expert-advice-common-text {
        font-size: 16px;
        line-height: 20px;
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}
