.form-control {
  height: 40px;
  border-radius: 6px;
  border-color: $gray-4;

  &:hover {
    border-color: $gray-6;
  }

  &:focus {
    border-color: $terciary;
    outline: none;
    box-shadow: none;
  }

  &.common-input {
    height: 40px;
    border-radius: 6px;
    border-color: $gray-4;

    &:hover {
      border-color: $gray-6;
    }

    &:focus {
      border-color: $terciary;
      outline: none;
      box-shadow: none;
    }

    &.has-error {
      border-color: $danger;

      &:hover,
      &:focus {
        border-color: $danger;
      }
    }
  }

  &.has-error {
    border-color: $danger;

    &:hover,
    &:focus {
      border-color: $danger;
    }
  }
}

.custom-file-label {
  &.has-error {
    border-color: $danger;
  }
}

.has-error {
  border-color: $danger;

  .select2-container--default .select2-selection--single {
    border-color: $danger;
  }

  input.form-control,
  textarea.form-control {
    border-color: $danger;
    background-color: transparent;

    &:hover,
    &:focus {
      border-color: $danger;
    }
  }
}

textarea + .help-block {
  text-align: left;
  font-size: 1em;
}

.error-label {
  color: $danger;
  vertical-align: middle;
  font-size: $font-size-12px;
  position: relative;
  .error-icon {
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    position: absolute;
    left: -3px;
    top: 0;

    svg {
      width: 20px;
      height: 20px;
      fill: $danger;
    }
  }

  .error-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
  }
}

.custom-file {
  height: 40px;

  .custom-file-input {
    height: 40px;
    border-color: $gray-4;
    outline: none;
    box-shadow: none;
    border-radius: 6px;

    &:hover {
      border-color: $gray-6;
    }

    &:focus,
    &:focus ~ .custom-file-label {
      border-color: $terciary;
      outline: none;
      box-shadow: none;
    }
  }

  .custom-file-label {
    border-radius: 6px;
    height: 40px;
    line-height: 28px;

    &:hover {
      border-color: $gray-6;
    }

    &:after {
      background: linear-gradient(to bottom, $button-secondary-top-color 0%, $button-secondary-bottom-color 100%);
      border: none;
      color: $button-secondary-text-color;
      height: 38px;
      line-height: 28px;

      &:hover,
      &:focus,
      &:visited {
        background: linear-gradient(to bottom, $button-secondary-top-color 2%, $button-secondary-bottom-color 50%);
        border: none;
        color: $button-secondary-text-color;
      }
    }
  }
}
