.pagination-out {
  .pagination {
    margin-top: 24px;
    margin-bottom: 0;
  }

  .arrow-left-icon,
  .arrow-right-icon {
    display: inline-block;
    width: 5px;
    svg {
      width: 18px;
      height: 18px;
      color: $gray-7;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .page-link {
    border-color: $gray-4;
    margin: 0 2px;
  }

  a {
    &.page-link {
      color: $gray-7;
      text-decoration: none;

      &:hover {
        background-color: $gray-3;
        color: $gray-9;
        outline: none;
        box-shadow: none;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .page-item {
    &.active {
      .page-link {
        background-color: $gray-9;
        border-color: $gray-9;
        color: $white;

        &:hover {
          background-color: $gray-9;
          color: $white;
        }
      }
    }

    &.disabled {
      cursor: not-allowed;
      .page-link {
        svg {
          fill: $gray-5;
        }
      }
    }
  }
}


// overriding pagination for old style
@media only screen and (max-width: 1023px) {
  .pagination > li > a,
  .pagination > li > span {
    line-height: inherit;
    width: inherit;
    padding: 0.5rem 0.75rem;
    font-size: inherit;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .pagination > li > a,
  .pagination > li > span {
    line-height: inherit;
    width: inherit;
    padding: 0.5rem 0.75rem;
    font-size: inherit;
    text-align: center;
  }
}
