.has-success{
  .help-block{
  color: #ff8400;
  }
}
.promotion {
color: #ff8400;
    }

.cart-totals {
.discount
           {
color: #ff8400;
}
}

.item__list {
.promo {
color: #ff8400;
}
}
.subtotals__item--state-discount{
color: #ff8400;
}

.account-orderdetail .account-orderdetail-orderTotalDiscount-section .order-savings__info {
color: #ff8400;
}

.account-orderdetail .order-savings {
color: #ff8400;
}