#myProductModal {
    top: auto;
top: auto;
    position: fixed;
    top:0;
    right: 0;
    bottom:0;
    left: 0;
    z-index:100;
    &:before{
            display: inline-block;
            vertical-align: middle;
            content: " ";
            position: absolute;
            top:0;
    right: 0;
    bottom:0;
    left: 0;
   
        }
       
    &.modaldata {
        text-align: center;
        background: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .modal-header{
              padding: 1rem 1rem 0.5rem;
              }
              
    .modal-body{
        overflow: hidden;
        padding: 1rem 1rem 0;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        margin: 0;
    }

    .product-popup {
        width:auto;
        max-width: initial;
       
        @media screen and (min-width:960px){
             
        max-width: 970px;
        }
    }

    .card-img-top {
        
        margin: 0 auto;
        display: block;
    }

    .modal-title {
        font-size: 1.2rem;
        color: $primary-color;
        font-weight: 700;
       
    }

    .sub-title {
        font-size: 1rem;
        color: $primary-color;
        color: $black;
        font-weight: 500;
        margin: 0 0 1rem;
         text-transform: none;
         &.popUpTitle{
         padding-left:28px;
         }
    }
    
    .flexslider{
    text-align:left;
    }
    .flex-control-nav{
        display: none;
    }
    .flex-viewport{
        padding: 10px 0;
        
            .slides{
                li{
                    min-width: 200px;
                }
            }
        
    }
    .flex-direction-nav{
        @media screen and (min-width:960px){
            display: none;
        }
    }
    .flex-direction-nav .flex-prev{
        left: -20px!important;
    }
    .flex-direction-nav .flex-next{
        right: -20px!important;
    }

    p {
        font-size: 1.6rem;
    }

    .product-card {
        padding: 1rem;
        border-radius: 4px;
        border: 1px solid $gray-2;
        transition: all 0.3s ease-in-out;
       height:415px;
       overflow : hidden;
        .card-body{
            padding:0;
        }

        .product-name {
            font-weight: 700;
            color: $black;
            margin-top: 1rem;
            line-height: 1.3;
            font-size: 1.2rem;
            a{
            color: $black;
            }
        }
        

        .sku {
            display: block;
            color: $gray-7;
            font-size: 1rem;
            font-weight: normal;
        }

         .card-text.product-desc {
          font-size: 0.8rem;
          max-height: 42px;
         overflow: hidden;
         min-height: 0px;
         line-height: unset;
         
         p{
        	font-size:unset;
         }
        }
        
        

        .product-price {
            color: $primary-color;
            font-weight: 700;
            font-size: 1.2rem;
            text-align: right;
          margin:0;
           @media screen and (min-width:960px){
             margin-top: 8px;
        }
            span {
                display: block;
                font-size: .8rem;
                color: $gray-6;
                line-height: .8;
            }
        }


        &:hover {
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) inset;
            border-color: transparent;
        }
    }
    
   
}

 @media screen and (max-width: 991px) {
    #myProductModal{ 
              .modal-dialog{
              
              &.product-popup{
              width:70% !important;
              h3{
   				width:auto !important;
   				margin: 0px;
              }
          }
           } 
        }
    }