.profile-container {
  max-width: 767px;
  width: 100%;
  margin: 0;
}

label {
  &.control-label {
    color: $gray-7;
  }
}

.account-section .account-section-content .consent-management-list__item {
  border-radius: 6px;
  border: 1px solid $gray-4;
}

.account-section .account-section-content .consent-management-list__label {
  color: inherit;
  font-weight: bold;
}

.account-section .account-section-content .consent-management-list__content {
  height: inherit;
  overflow: auto;
}

.account-section .account-section-content .consent-management-list__title:before {
	
	display:none;
	
}

.account-section .account-section-content .consent-management-list__title {
    padding: 25px 15px 18px 25px;
}

.account-section .account-section-content .consent-management-list__content-inner {
    padding: 0 40px 10px 25px;
}

.order-detail-overview {
  padding: 20px 30px;
  background-color: $white;
  border-top: 1px solid $gray-2;

  .item-label {
    font-weight: 500;
    text-transform: inherit;
  }

  .item-value {
    font-weight: bold;
  }
}

.well {
  &.well-quinary {
    background-color: $white;
    border: 1px solid $gray-2;
    margin-bottom: 30px;

    .well-headline {
      background: $gray-2;
      color: inherit;
      border-bottom: none;
    }
  }

  &.order-summary-heading {
    background: $white;

    .well-headline {
      background: $white;
      border-top: 1px solid $gray-6;
      border-bottom: 1px solid $gray-6;
      padding: 15px 30px;
    }
  }
}

.account-section .account-section-content .account-section-header {
  color: inherit;
  border-bottom: none;
}

.account-section .account-section-content form {
  padding: 0;
}

.back-link {
  a {
    color: $gray-9;
  }

  .label {
    color: inherit;
  }
}

.account-orderdetail {
  .account-orderdetail__footer {
    padding-top: 0;
  }
}

table {
  &.orderhistory-list-table {
    th {
      background-color: $gray-9;
      font-weight: 500;
      font-size: inherit;
    }
  }
}

.qty {
  label {
    color: inherit;
  }
}

.responsive-table-item {
  a {
    &.responsive-table-link {
      color: $terciary;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus,
      &:visited {
        text-decoration: underline;
      }
    }
  }
}

.account-section .account-list .account-cards .account-cards-actions {
  display: block;
  width: 100%;
}

.account-section .account-list .account-cards .card,
.account-section .account-list .account-cards .search-empty {
  border: 1px solid #cccccc;
}

.account-section .account-list .account-cards.card-select {
  border-top: 0;
}

.account-section .account-section-header-add a{
    color: #575a5d;
    text-decoration: none;
}

.account-section .account-section-header-add a:hover{
    color: #ff8400;
}

.something-went-wrong {
  max-width: 400px;
  width: 100%;
  margin: 40px 0 50px 0;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0,0,0,0.08);
  padding: 24px;
  text-align: center;
  border: 1px solid $gray-3;


  .cross-icon-out {
    margin: auto;
    width: 52px;
    height: 52px;
    border-radius: 52px;
    background: $danger;
    svg {
      width: 50px;
      height: 50px;
      fill: $white;
    }
  }

  .oops-text {
    font-weight: bold;
    margin-top: 20px;
    font-size: $font-size-24px;
    color: $danger;
    text-align: center;
  }

  .something-went-wrong-text {
    font-size: $font-size-16px;
    font-weight: bold;
    color: $gray-7;
    margin-top: 10px;
    text-align: center;
  }
}

.password-update-sent {
  max-width: 400px;
  width: 100%;
  margin: 40px 0 50px 0;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0,0,0,0.08);
  padding: 24px;
  text-align: center;
  border: 1px solid $gray-3;


  .cross-icon-out {
    margin: auto;
    width: 52px;
    height: 52px;
    border-radius: 52px;
    background: $success;
    svg {
      width: 50px;
      height: 50px;
      fill: $white;
    }
  }

  .password-sent-text {
    font-size: $font-size-16px;
    font-weight: bold;
    color: $gray-7;
    margin-top: 10px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .profile-container {
    padding: 0;
  }
  .account-section .account-section-content .consent-management-list__item {
    border: 1px solid $gray-4;
    margin: 0;
  }

  .item__list .item__quantity__total {
    clear: inherit;
    float: none;
    width: auto;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .profile-container {
    padding: 0;
  }
  .account-section .account-section-content .consent-management-list__item {
    border: 1px solid $gray-4;
    margin: 0;
  }

  .orderhistory-list-table {
    .responsive-table-item {
      display: block;
      td {
        width: 40%;
        display: inline-block;
        padding: 3px 10px;

        &:last-child {
          text-align: left;
          font-weight: bold;
        }

        &.responsive-table-cell {
          width: 55%;
        }
      }
    }
  }
}
