h1 {
  &.product-detail-title {
    font-size: $font-size-48px;
    line-height: 48px;
    font-weight: bold;
    margin: 24px 0 32px 0;
  }
}

h4 {
  &.small-section-title,
  &.small-section-sub-title {
    font-size: $font-size-16px;
    line-height: 16px;
    color: $gray-9;
    margin: 0 0 16px 0;
    font-weight: 500;
    padding: 0;
  }

  &.small-section-sub-title {
    font-size: $font-size-12px;
    color: $gray-7;
  }

  .small-text {
    display: inline-block;
    vertical-align: middle;
    font-size: $font-size-12px;
    color: $gray-6;
    padding-left: 8px;
  }
}

.two-column-section {
  margin: 48px 0 0 0;
  font-size: $font-size-16px;

  h1 {
    &.section-title {
      font-size: $font-size-40px;
      line-height: 48px;
      font-weight: 500;
      margin-bottom: 24px;
    }
  }

  .section-description {
    p {
      font-size: $font-size-16px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }

  .column-full-img {
  }

  .content-list-out {
    margin-top: 16px;

    ul {
      margin: 0;
      padding: 0 0 0 30px;
      li {
        margin-bottom: 8px;
      }
    }
  }
}

.product-details-container-out {
  .common-sub-tab-section {
    padding: 48px 0;

    &.gray-back {
      background: $gray-2;
    }
  }

  .product-code {
    margin-bottom: 30px;
    font-size: $font-size-12px;
    color: $gray-7;
  }

  .product-detail-desc-out {
    margin-bottom: 30px;

    p {
      font-size: $font-size-16px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }

  .product-detail-left-section {
    margin: 35px 0 50px 0;
    .price-section {
      margin-right: 32px;
      .price-text {
        font-size: $font-size-12px;
        line-height: 16px;
      }
      .price-value {
        font-size: $font-size-28px;
        font-weight: bold;
        line-height: 36px;
        color: $primary-color;
        .currency-sign {
          font-size: 0.428571em;
        }
      }
    }

    .add-to-cart-input {
      height: 48px;
      border-color: $gray-4;
      max-width: 64px;
      width: 100%;
      text-align: center;
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:hover {
        outline: none;
        box-shadow: none;
        border-color: $gray-6;
      }

      &:focus {
        outline: none;
        box-shadow: none;
        border-color: $input-active-color;
      }
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      &,
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        appearance: none;
        margin: 0;
    
        &:hover,
        &:focus {
          -moz-appearance: number-input;
        }
      }
    }

    .add-to-cart-btn {
      padding-left: 50px;
      .add-to-cart-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);

        svg {
          width: 28px;
          height: 30px;
        }
      }
    }
  }

  .quick-reference-feature {
    background: $gray-2;
    padding: 40px 0;

    .quick-reference-icon {
      width: 62px;
      height: 62px;
      margin: 0 auto 8px auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .quick-reference-description {
      font-size: $font-size-13px;
    }
  }

  .product-detail-tab {
  
    background-color: $product-detail-tab-background;
	 position: sticky;
	 top: 0;
	 z-index: 9;

    .navbar {
      padding: 2px 0;

      .nav {
        max-width: 1024px;
        width: 100%;
        text-align: center;
      }

      .nav-item {
        .nav-link {
          padding: 10px 18px;
          min-height: 67px;
          color: $primary-color;
          letter-spacing: 0.25px;
          transition: all ease-in-out;
          border-bottom: 4px solid $product-detail-tab-background;
          border-radius: 0;

          span {
            align-content: stretch;
            width: 100%;
          }

          &:hover {
            background-color: $gray-9;
          }

          &.active {
            border-bottom: 4px solid $primary-color;
            background: none;
          }
        }
      }
    }
  }

  .over-view-out {
    background-color: $gray-2;
    border-radius: 8px;
    padding: 40px 28px;
    letter-spacing: 0.25px;

    h1 {
      &.overview-title {
        margin: 0 0 16px 0;
        font-size: $font-size-20px;
        line-height: 24px;
      }
    }

    .overview-left-section {
      font-size: $font-size-13px;
      p {
        margin-bottom: 8px;
      }
    }

    .overview-label {
      font-size: $font-size-12px;
      line-height: 20px;
      color: $gray-7;
      display: block;
      margin: 0;
      padding: 0;
    }

    .overview-value {
      font-size: $font-size-16px;
    }
  }

  .how-to-download-section {
    margin: 32px 0;

    ul {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      list-style: none;

      li {
        border-right: 1px solid $gray-3;
        margin-bottom: 16px;

        &:nth-child(4n + 4) {
          border-right: none;
        }

        &:last-child {
          border-right: none;
        }
      }
    }

    .download-column-title {
      font-size: $font-size-16px;
      line-height: 20px;
      margin-bottom: 8px;

      a {
        color: $gray-9;
        text-decoration: none;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .download-column-bottom-section {
      color: $gray-6;
      font-size: $font-size-12px;
      line-height: 17px;

      .document-icon {
        display: inline-block;
        vertical-align: middle;
        padding-right: 8px;
        svg {
          width: 40px;
          height: 16px;
          fill: $terciary;
        }
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .register-account-out {
    background-color: $primary-color;
    padding: 48px 0;
    color: $white;

    h2 {
      &.register-account-title {
        font-size: $font-size-32px;
        line-height: 36px;
        font-weight: 500;
        margin: 0 0 24px 0;
      }
    }
  }

  .rating-description {
    font-size: $font-size-16px;
    line-height: 24px;
    letter-spacing: 0.25px;
  }

  .write-a-review-link {
    text-decoration: none;
    .down-arrow-icon {
      display: inline-block;
      transition: all 0.2s ease;
      svg {
        width: 20px;
        height: 20px;
        fill: $terciary;
      }
    }

    &.expanded {
      .down-arrow-icon {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }
    }
  }

  .review-list-out {
    ul {
      padding: 0;
      list-style: none;
      margin-top: 1rem;
      margin-bottom: 0;
    }

    &.scrollable {
      max-height: 363px;
      overflow: auto;
      overflow-x: hidden;
    }
  }

  .see-all-review-out {
    margin-bottom: 30px;
  }

  .compare-section-out,
  .use-with-section-out {
    padding: 48px 0;
    background: $gray-2;
  }

  .use-with-section-out {
    .use-with-listing {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          float: left;
          width: 20%;

          &:last-child {
            .common-product-small-tile {
              margin-right: 0;
            }
          }
          .common-product-small-tile {
            background: $white;
            padding: 16px 16px 16px 0;
            margin-right: 16px;
            margin-bottom: 16px;
            transition: all ease-in-out 0.3s;

            a {
              text-decoration: none;
              color: $gray-9;

              &:hover {
                color: $primary-color;
              }
            }
          }

          .tile-image {
            width: 100%;
            height: 80px;

            img {
              width: 100%;
            }
          }

          .tile-title {
            font-size: $font-size-16px;
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 72px;
          }

          .currency-text {
            font-size: $font-size-12px;
            line-height: 20px;
            color: $gray-7;
          }

          .currency-value {
            font-weight: bold;
            color: $primary-color;
            font-size: $font-size-16px;
            padding-left: 4px;
            display: inline-block;
          }
        }
      }
    }
  }

  .product-variant-section {
    margin-top: 30px;

    .variant-title {
      font-size: $font-size-14px;
      color: $gray-7;
      font-weight: bold;
      margin-bottom: 4px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        a {
          display: inline-block;
          text-decoration: none;
          color: $gray-9;
          padding: 2px 4px 2px 24px;
          margin-bottom: 4px;
          vertical-align: middle;
          position: relative;
          font-size: $font-size-13px;

          .variant-checkbox-icon {
            position: absolute;
            left: 0;
            top: 2px;
            width: 18px;
            height: 18px;
            border: 1px solid $gray-5;
            border-radius: 3px;

            svg {
              width: 18px;
              height: 18px;
              fill: $black;
              top: -1px;
              position: absolute;
              left: -1px;
            }
          }

          &:hover {
            color: $primary-color;

            .variant-checkbox-icon {
              border-color: $primary-color;
              svg {
                fill: $primary-color;
              }
            }
          }
        }

        &.active {
          a {
            color: $primary-color;
            .variant-checkbox-icon {
              border-color: $primary-color;

              svg {
                fill: $primary-color;
              }
            }
          }
        }
      }
    }
  }

  .common-product-with-title {
    .section-title {
      font-size: $font-size-20px;
      line-height: 24px;
      margin-bottom: 4px;
    }

    .section-description {
      font-size: $font-size-13px;
      line-height: 20px;
      letter-spacing: 0.2px;
    }

    .product-list {
      margin-top: 16px;
      margin-bottom: 16px;

      .product-listing-out {
        &.flexslider {
          background-color: transparent;

          .slides {
            img {
              width: inherit;
              margin: auto;
            }
          }
        }

        ul {
          li {
            &.product-tile {
              border: 1px solid $gray-3;
              background: $white;
              width: inherit;
              min-width: inherit;
              padding: 0;

              &:last-child {
                margin-right: 0;
              }

              .product-tile-inner-container {
                padding: 24px;
              }
            }
          }
        }
      }
    }
  }
}

.addtocart-component .actions .btn {
  margin-bottom: 0;
  height: 48px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.compare-inner-container {
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;

  .left-column {
    width: 123px;
    background-color: $gray-7;
    min-height: 284px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: 125px;
    color: $white;
    font-size: $font-size-12px;
    position: relative;

    &:after {
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
      height: 100%;
      top: 0;
      right: 0;
      content: "";
      position: absolute;
      z-index: 10;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 16px;
        border-bottom: 1px dotted $gray-6;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .right-column-with-carousel {
    width: calc(100% - 123px);
    background-color: $white;
    text-align: center;

    .check-icon {
      svg {
        width: 22px;
        height: 22px;
        fill: $gray-7;
      }
    }

    .flexslider {
      background: transparent;
    }

    ul {
      &.slides {
        li {
          border-right: 1px solid $gray-2;
          background-color: $white;
          position: relative;

          .product-status {
            position: absolute;
            top: 4px;
            right: 4px;

            svg,
            img {
              width: 40px;
              height: 40px;
            }
          }

          &.selected {
            &::after {
              position: absolute;
              border: 2px solid $primary-color;
              content: "";
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
            }

            .selcted-text {
              position: absolute;
              top: 2px;
              width: 100%;
              text-align: center;
              font-size: $font-size-12px;
              color: $primary-color;
              font-style: italic;
            }
          }
        }
      }
    }

    .compare-list-top-section {
      padding-top: 24px;
      padding-bottom: 16px;
      height: 178px;
      border-bottom: 1px dotted $gray-3;
      position: relative;
       z-index: 3;
       
       a {
       	color: inherit;
       	text-decoration:none;
      }
      .compare-list-top-img {
        margin: 0 auto;
        img {
          height: 90px;
          width: 90px;
          display: inline-block;
        }
      }

      .compare-list-product-title {
        font-size: $font-size-14px;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 6px;
        padding: 0 4px;
      }

      .compare-list-product-id {
        font-size: $font-size-12px;
        line-height: 20px;
        color: $gray-7;
        padding: 0 4px;
      }
    }
  }
  .row-height-padding {
    padding: 16px;
    height: 53px;
    border-bottom: 1px dotted $gray-3;
  }

  .price-col {
    font-size: $font-size-14px;
    font-weight: bold;
    color: $primary-color;
    border-bottom: none;
  }
}

.scale-indicator {
  max-width: 767px;
  text-align: center;
  width: 100%;
  margin: 0 auto;

  .scale-indicator-description {
    font-size: $font-size-16px;
    margin: 30px 0 48px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .product-details-container-out {
    .use-with-section-out {
      .use-with-listing {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            float: left;
            width: 50%;

            .tile-image {
              img {
                max-width: 100%;
                height: 80px;
                width: auto;
              }
            }

            &:last-child {
              .common-product-small-tile {
                margin-right: 0;
              }
            }

            &:nth-of-type(2n) {
              .common-product-small-tile {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    &.product-detail-title {
      font-size: $font-size-28px;
      line-height: 32px;
      font-family: $font-family-base;
      margin: 16px 0 16px 0;
    }
  }

  .two-column-section {
    h1 {
      &.section-title {
        font-size: 2em;
        line-height: 32px;
        margin-bottom: 16px;
      }
    }
  }

  .product-details-container-out {
    .common-sub-tab-section {
      &.pt-xs-0 {
        padding-top: 0;
      }

      &.pb-xs-0 {
        padding-bottom: 0;
      }

      &.ptb-xs-0 {
        padding-top: 0;
        padding-bottom: 0;
      }

      &.ptb-xs-16 {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
    .over-view-out {
      padding: 28px;
    }
    .register-account-out {
      padding: 24px 0;
      h2 {
        &.register-account-title {
          font-size: 2em;
          line-height: 30px;
          margin: 0 0 16px 0;
        }
      }
    }

    .product-detail-left-section {
      margin: 15px 0 30px 0;
    }

    .product-code {
      margin-bottom: 15px;
    }

    .product-detail-desc-out {
      margin-bottom: 15px;
    }

    .quick-reference-feature {
      padding: 16px 0;
      .quick-reference-description {
        display: none;
      }

      .quick-reference-icon {
        margin: 5px auto;
      }
    }

    .product-detail-tab {
      display: none;
    }

    .use-with-section-out {
      .use-with-listing {
        overflow: hidden;
        overflow-x: auto;
        ul {
          li {
            width: 176px;

            .common-product-small-tile {
              padding: 16px;

              .tile-title {
                margin-top: 16px;
              }
            }

            .tile-image {
              text-align: center;
              img {
                max-width: 100%;
                height: 80px;
                width: auto;
              }
            }

            &:last-child {
              .common-product-small-tile {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .how-to-download-section {
      ul {
        li {
          &:nth-child(2n + 2) {
            border-right: none;
          }
        }
      }

      .download-column-title {
        font-size: $font-size-12px;
        line-height: 16px;
      }

      .download-column-bottom-section {
        font-size: $font-size-10px;
        line-height: 14px;
      }
    }

    .common-product-with-title {
      margin-bottom: 16px;

      .product-list {
        .product-listing-out {
          overflow: hidden;
          overflow-x: auto;
          ul {
            // width: 500px;
            li {
              &.product-tile {
                width: 230px;
              }
            }
          }
        }
      }
    }
  }
}
