.rating-out {
  margin-bottom: 10px;

  &.less-margin {
    margin-bottom: 5px;
  }

  &.no-margin {
    margin-bottom: 0;
  }

  .star-rating,
  .reviews-text,
  .rating-value,
  .write-reviews-link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    font-size: 12px;
    position: relative;
  }

  &.with-rating-value {
    .star-rating {
      margin-right: 0;
    }
  }

  .reviews-text {
    margin-right: 15px;
    color: $gray-6;
  }

  .rating-value {
    color: $gray-6;
  }
}

.star-rating {
  height: 14px;
  position: relative;
  width: 70px;

  &:before {
    background-image: url("../images/gray-star.svg");
    background-repeat: repeat-x;
    background-size: 14px;
    bottom: 0;
    content: "";
    display: block;
    height: 14px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
  }

  > span {
    display: block;
    text-indent: -10000px;
    width: 70px;
    height: 14px;
    position: absolute;
    overflow: hidden;
  }

  > span:before {
    background-image: url("../images/filled-star.svg");
    background-repeat: repeat-x;
    background-size: 14px;
    bottom: 0;
    content: "";
    display: block;
    height: 14px;
    left: 0;
    position: absolute;
    right: 0;
    text-indent: 10000px;
    top: 0;
  }
}

.star-rating-input {
  .rating {
    float: left;
  }

  .rating label {
    width: 16px;
  }

  .rating:not(:checked) > input {
    position: absolute;
    left: -9999px;
    clip: rect(0, 0, 0, 0);
  }

  .rating:not(:checked) > label {
    float: right;
    width: 16px;
    padding: 0 0.1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    line-height: 1.2;
  }

  .icon-star {
    width: 16px;
    height: 16px;
    fill: $gray-5; // #ccc;
    transition: all 0.3s;
    pointer-events: none; 
  }

  .rating > input:checked ~ label .icon-star {
    fill: $primary-color; // #fc0;
  }

  .rating:not(:checked) > label:hover .icon-star,
  .rating:not(:checked) > label:hover ~ label .icon-star {
    fill: $button-highlight-bottom-color; //#bbb;
  }

  .rating > input:checked + label:hover .icon-star,
  .rating > input:checked + label:hover ~ label .icon-star,
  .rating > input:checked ~ label:hover .icon-star,
  .rating > input:checked ~ label:hover ~ label .icon-star,
  .rating > label:hover ~ input:checked ~ label .icon-star {
    fill: $button-highlight-top-color; // #fd0;
  }

  .rating > label:active {
    position: relative;
    top: 1px;
    left: 1px;
  }
}
