.rating-out {
  margin-bottom: 10px;

  &.less-margin {
    margin-bottom: 5px;
  }

  &.no-margin {
    margin-bottom: 0;
  }

  .star-rating,
  .reviews-text,
  .rating-value,
  .write-reviews-link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    font-size: 12px;
    position: relative;
  }

  &.with-rating-value {
    .star-rating {
      margin-right: 0;
    }
  }

  .reviews-text {
    margin-right: 15px;
    color: $gray-6;

    // &:after {
    //   position: absolute;
    //   border-right: 1px solid $gray-6;
    //   height: 12px;
    //   right: -10px;
    //   top: 3px;
    //   content: "";
    // }
  }

  .rating-value {
    color: $gray-6;
  }
}

.star-rating {
  height: 14px;
  position: relative;
  width: 70px;

  &:before {
    background-image: url("../images/gray-star.svg");
    background-repeat: repeat-x;
    background-size: 14px;
    bottom: 0;
    content: "";
    display: block;
    height: 14px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
  }

  > span {
    display: block;
    text-indent: -10000px;
    width: 70px;
    height: 14px;
    position: absolute;
    overflow: hidden;
  }

  > span:before {
    background-image: url("../images/filled-star.svg");
    background-repeat: repeat-x;
    background-size: 14px;
    bottom: 0;
    content: "";
    display: block;
    height: 14px;
    left: 0;
    position: absolute;
    right: 0;
    text-indent: 10000px;
    top: 0;
  }
}
