@media only screen and (max-width: 767px) {
  .plr-xs-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .pr-xs-0 {
    padding-right: 0;
  }

  h1 {
    &.primary-title {
      font-size: $font-size-40px;
      line-height: 40px;
    }
  }
}
