.ui-widget {
  font-family: inherit;
  font-size: inherit;
  
  &.ui-menu {
  	max-width: 320px;
  	width: 100%;
  }
}

.search-results-highlight {
	font-family: $font-family-bold;
}

.ui-widget-content {
  background-color: $white;
  padding: 16px 24px;
  border-radius: 6px;
  border: 1px solid rgba(240, 240, 240, 0.5);
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.1);
}
.ui-menu {
  .ui-menu-item-wrapper {
    position: relative;
    padding: 8px 0;
    display: block;
    color: $gray-9;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
    
    &.ui-state-active {
    	border: none;
  background: transparent;
  font-weight: normal;
  color: $primary-color;
  padding: 8px 0;
  margin: 0;
    }
  }
}