.main-header-out {
    .smartEditComponent {
        display: inline;
    }

    .header-right-btn-group {
        .smartEditComponent {
            .btn {
                &.right-btn {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }
}

.footer-text-right {
    .yCmsComponent {
        display: inline-block;
    }
}